$red : #ff5500;
$orange : #ef8800;
$green : #399918;
$grey : grey;
$white : aliceblue;
$black : #09121c;

//* fonts

$Meow : "Meow Script", serif;
$Josefin : "Josefin Sans", serif;
$Yantramanav: "Yantramanav", serif;
$Marck : "Marck Script", serif;
$Miss : "Miss Fajardose", serif;
$Ephesis : "Ephesis", "cursive";