@use "./mixin";
@use "./Variables";

.home{
    height: 100%;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    padding: 0 4rem !important;
    position: relative;
}

.main-content {
    padding: 1.8rem 2rem 0 0;
}

.main-img img{
    height: 80vh;
}

.main-head{
    position: relative;
    @include mixin.Marck;
    font-weight: normal;
    font-size: 5rem;
    text-transform: capitalize;
    margin: 0.5em 0rem 0.3em 0;
    z-index: 1;
}

.main-head::after {
    content: "Kodifyre";
    position: absolute;
    top: 0.2rem;
    left: 0.2rem;
    z-index: -1;
    color: Variables.$grey;
    filter: blur(1.5px)
}

.main-para{
    @include mixin.Josefin;
    font-size: 1.8rem;
    color: Variables.$grey;
    line-height: 1.5em;
}

.main-links {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1.85rem;
    margin-top: 2.855rem;
}

.main-links .main-link {
    color: Variables.$green;
}

.main-links .main-link:hover {
    color: Variables.$red
}

.main-btn {
    @include mixin.Josefin;
    @include mixin.anchor;
    background-color: Variables.$red !important;
    font-size: 1.76rem;
    color: Variables.$white;
    text-align: center;
    padding: 0.5em 2.5em;
    border-radius: 0.2em;
    margin-top: 3.5rem;
    position: relative;
    z-index: 1;
}

.main-btn::before {
    content: "";
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: Variables.$green;
    border-radius: 0.2em;
    transition: width 0.3s;
    z-index: -1;
}

.main-btn:hover::before{
    width: 100%;
}

@media (max-width : 768px) {

    .home {
        padding: 0 !important;
    }

    .main-img img {
        width: 100vw;
    }
    
    .main-content {
        position: absolute;
        padding: 0 1.5rem 1.5rem;
        bottom: 0;
        background-color: rgba( #ffffff, 0.8);
        backdrop-filter: blur(2px);
        min-width: 100vw;
    }

    .main-links .main-link {
        font-size: 1.85rem;
    }
}

@media (min-width : 768px) and (max-width : 900px) {
    .home {
        grid-template-columns: 1fr;
        padding: 0 1rem !important;
    }

    
    .main-img img {
        width: 95vw;
    }
}
